<nav>
  <form class="form-inline">
    <input class="form-control" [(ngModel)]= "userQuery" name="search" type="text" placeholder="Search">
    <button (click) = 'gitSearch()' >Go</button>
  </form>     
</nav>

<section>
  <div *ngFor = 'let userRepo of userRepos '>
    <p> {{userRepo.name}} </p>
  </div>
</section>

<aside *ngIf="userProfile">
  <h3>Contributor(s)</h3>
  <img style="vertical-align: middle; width: 150px;height: 150px;" src="{{userProfile.avatar_url}}" alt="Avatar" class="avatar">
  <p>{{ userProfile.name }}</p>
  <p>Biography: {{userProfile.bio}} </p>
  <p>Member Since: {{userProfile.created_at}} </p>
</aside>
