<!DOCTYPE html>
<html>
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  color: white;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:#333;
  font-family: "Courier New", Courier, monospace;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

</style>

<body>
  <div class="bgimg">
    <div class="middle">
      <h1>Github Search</h1>
      <p>GitSearch is a web service that lists software development projects from various git users. It's inspired by the way you work.</p>
      <hr>
      <button class="text-uppercase">Proceed to Search</button>
    </div>
  </div>
</body>
</html>
